<!DOCTYPE html>
<html lang="en">
<head>
  <title>Comparaison</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar-inverse {
      background-color: green;
      border-color: green;
    }

    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
      color: white;
    }
  </style>
</head>
<body style="height:1500px">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'accueil' %}">TRIP AIDAN</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'accueil' %}">Home</a></li>

        <li><a href="{% url 'search' %}">Activity</a></li>
        <li><a href="{% url 'hotel_search' %}">Hotel</a></li>
        <li><a href="{% url 'random_destination' %}">Destination</a></li>
      </ul>
    </div>
  </nav>
  
  
   
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    


   


</body>
</html>
