 
 
 body{
    background-color:lightgray;
 }

 .container {
    margin-top: 5rem;
  }
  
  h1 {
    font-size: 4rem;
    color: green;
  }
  
  p {
    font-size: 2rem;
    color: green;

  }
  
  img {
    cursor: pointer;
   
  }
  
  img:hover {
    opacity: 0.8;
  }
  
  #img1 {
    width: 60%;
    height: auto;
  }

  #img2{
    width: 75%;
    height: auto;
  }

 